h1{
    font-size: 60px;
    position: relative;
    left: 100px;
    top: 90px;
}
.img1{
    position: absolute;
    top: 100px;
    left: 600px;
    border-radius: 100%;
    
   
}
.img2{
    position: absolute;
    left: 1000px;
    top: 400px;
    border-radius: 100%;
    
}
.button{
    height: 60px;
    width: 100px;
    background-color: rgb(33, 1, 1);
    color: white;
    position: absolute;
    top: 550px;
    left: 100px;
    border-radius: 50px;

  
}
button:hover{
    background-color: rgb(220, 129, 18);
}
h6{
    font-size: 20px;
    position: absolute;
    top: 350px;
    left: 100px;

}
.main{
    height: 400px;
    width: 1550px;
    background-color: rgb(34, 0, 0);
    display: flex;
    gap: 20px;
    position: absolute;
    top: 950px;
    color: white;
    justify-content: center;
    
    

}
.hlo{
    height: 200px;
    width: 800px;
    background-color: bisque;
    border-radius: 100px;
    display: flex;
    gap: 60px;
    position: relative;
    top: 500px;
    left: 350px;
    
}
.hlo1{
    position: absolute;
    top: 40px;
    left: 120px;
}
.hlo2{
    position: absolute;
    top: 40px;
    left: 400px;
}
.hlo3{
    position: absolute;
    top: 40px;
    left: 600px;
}
.main1{
    margin-top: 60px;
    
}


    



